<form id="form">
    <div class="mIndex">
		<div class="lf" data-bind="foreach: mIndex">
			<button class="btn btn-info" data-bind="click : menuListcp.bind(C3_511301864786)">
                <b data-bind="text: C3_511301864786"></b>
            </button>
		</div>
        <input type="button" value="新增菜品" class="mtaii btn btn-primary rf" onclick="add()">
    </div>
    <div data-bind="foreach: mList">
	    <div class="mList lf">
			<img id='xx' class="lf" data-bind="attr: { src: C3_511302422114 }" width="150" height="150"/>
			<b class="lf">菜品名称:</b><span class="lf" data-bind="text: C3_511302131411"></span>
            <b class="lf">菜品类别:</b><span class="lf" data-bind="text: C3_530883695470"></span>
            <b class="lf">菜品价格:</b><div class="lf"><span data-bind="text: C3_511302150302"></span><span>元</span></div>
            <input type="button" value="编辑" class="btn btn-warning lf mtai" data-bind="click : editClick.bind(C3_511302131411)">
            <input type="button" value="删除" class="btn btn-danger lf mtai"  data-bind="click : menuDel.bind(C3_511302131411)">
	    </div>
    </div>
</form>