<form class="mta" id="form2">
    <table align="center">
        <thead>
            <tr>
                <th colspan="2" class="tc">发布菜品</th>
            </tr>
        </thead>
        <tr>
            <td>餐别名称:</td>
            <td>
                <input class="mini-hidden" name="C3_529015876735" required="true"/>
                <input class="mini-textbox" name="C3_529015877010" required="true"/>
            </td>
        </tr>
        <tr>
            <td>餐厅名称:</td>
            <td>
                <input class="mini-hidden" name="C3_529015233619" required="true"/>
                <input class="mini-textbox" name="C3_529015233937" required="true"/>
            </td>
        </tr>
         <tr>
            <td>菜品名称:</td>
            <td>
                <input class="mini-hidden" name="C3_529015295101" required="true"/>
                <input class="mini-textbox" name="C3_529015358827" required="true"/>
            </td>
        </tr>
        <!--<tr>
            <td>
                菜品图片:
            </td>
            <td>
                <input
                    cursor="pointer"
                    id='fileupload1'
                    onuploaderror='onUploadError'
                    onfileselect='onFileSelect'
                    onuploadsuccess='onUploadSuccess'
                    uploadUrl='upload.aspx'
                    flashUrl='swfupload/swfupload.swf'
                    class='mini-fileupload'
                    uploadOnSelect=true 
                    name='Fdata'
                    limitType='*.jpg;*.jpeg;*.png'/>
                <input id="imgurl" name='C3_511302422114' class="mini-hidden"  allowInput="false"/>
                <img align='right' id='imgUploaded' width="70px"/>
            </td>
        </tr>-->
        <tr>
            <td colspan="2" class="tc">
                <input type="button" value="发布" class="btn btn-success" data-bind="click : ok">
                <input type="button" value="取消" class="btn btn-danger" data-bind="click : cancel">
            </td>
        </tr>
    </table>
</form>