.lf{
    float:left;
}
.rf{
    float:right;
}
.tc{
    text-align: center;
}
.oa{
    overflow: auto;
}
.oa-x{
    overflow-x: auto;
}
.oa-y{
    overflow-y: auto;
    height: 625px;
}
.oh{
    overflow: hidden;
    height: 28px;
}
.imgw1{
    width: 20%;
    height:100%;
    border-radius:50%;
    padding:10px;
    margin-top:5px;
}
.tBtn{
    width:15%;
    height:220px;
    color:#fff;
    font-size: 28px;
}
.tBtn1{
    background: #29b6f6;
}
.tBtn2{
    background: #ffa726;
}
#claim{
    width:85%;
    height:220px;
}
#claim table{
    width: 80%;
    height:100%;
    background: #26c6da;
    text-align:center;
    border:none;
}
#claim tbody tr{
    height:25%;
}
.imgw{
    width:24px;
    margin-right:5px;
}
#claim table span{
    line-height: 24px;
    color:#fff;
    margin: 0 30px 0 85px;
}
#menu{
    background: #eee;
    width:100%;
    height:220px;

}
#menu table{
    color:#000;
    width: 85%;
    height:100%;
    background: #eee;
    text-align:center;
    border:none;
    font-size: xx-large;
}
#menu table th{
    text-align:center;
    height:50px;
    line-height:50px;
}
#menu table td{
    height:35px;
}
#scan table{
    width: 750px;
    border: 2px solid #aaa;
    border-collapse:collapse;
}
#scan tbody{
    background:#eee;
}
#scan th{
    border-bottom: 2px solid #999;
    height:60px;
    background: #03A9F4;
    color:#fff;
    font-size: 28px;
}
#scan tbody tr:first-child {
    height: 200px;
    text-align: center;
}
#scan tbody tr:first-child td{
    border-bottom: 2px solid #999;
}
#scan tbody tr:first-child input{
    width:550px;
    height:80px;
    padding: 10px;
    border-radius:5px;
    font-size: 24px;
}
#scan tbody tr:last-child input{
    width:120px;
    height:80px;
    float:right;
    color:#fff;
    font-size: 24px;
}
/************************************************************************/
.zd{
    margin:5px 15px;
    font-size: 2em;
}
.zd td{
    padding-left:15px;
    color:#ff3a3a;
}
.modal-body p{
    font-size: 3em;
    color:#ff3a3a;
}
.cx td{
    font-size: 28px;
    color:#ff3a3a;
    text-align: center;
    padding:8px;
}
/************************************/
.wid{
    width:500px;
}
.twid{
    width:100%;
}
.fz{
    font-size:24px;
    height:28px;
    line-height: 28px;
    padding-bottom: 5px;
}
.modal-footer button{
    margin: 5px;
}
/*********************************************/
.mta{
    width: 300px;
    margin:10px auto;
    border: 2px solid #ddd;
    background: #fefefe;
}
.mta thead th{
    font-size: 3em;
}
.mta td{
    padding:5px;
}
.mta tbody tr td:first-child{
    text-align: right;
}
.mtaf input{
    margin:20px;
}
/****************************************************************/
.mIndex{
    width:100%;
    height:60px;
    border: 2px solid #ccc;
    border-radius:5px;
}
.mIndex button{
    margin:10px;
    width: 70px;
}
.mtai{
    margin:5px 10px;
}
.mtaii{
    margin:10px;
}
.mList{
    width:394px;
    height: 170px;
    padding: 8px;
    border: 2px solid #ccc;
    margin-top: 5px;
    margin-right: 5px;
    border-radius:5px;
}
.mList img{
    margin-right: 10px;
}.mList a{
    margin-left: 18px;
    margin-top: 8px;
    height: 28px;
    width: 52px;
    line-height: 28px;
}
.mList>span,.mList>div{
    margin-left: 5px;
    font-size: 20px;
    width:140px;
}
.mList>div>span{
    margin-left: 3px;
}
.mList b{
    margin-top: 2px;
    line-height: 26px;
}
.cbn{
    width: 300px;
    height: 150px;
    margin:20px auto;
    border: 2px solid #ddd;
    background: #fefefe;
    position: absolute;
}
.cbn table{
    width:200px;
    margin: 20px 49px;
    border: 2px solid #ddd;
}
.cbn table th,.cbn table td{
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.cbn table td{
    cursor:pointer;
}
.cbn table tbody tr:hover{
    background: #29b6f6;
}
.cpnlist{
    width: 900px;
    height: 700px;
    margin:10px auto;
    border: 2px solid #ddd;
    background: #fefefe;
    position: absolute;
}
.cpnlist table{
    width:100%;
}
.cpnlist table th{
    width: 120px;
    border: 2px solid #ddd;
    background: #fefefe;
}
.cpnlist>div:first-child{
    background: #428bca;
}
.cpnlist>div>div{
    width: 12.5%;
    height: 24px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.cpnlist>div>div:hover,.cpnlist th:hover,.cpnlist th.bgb{
    cursor:pointer;
    background: #29b6f6;
}
.closecp{
    width: 21px;
    height: 21px;
    line-height: 14px;
    color:#333;
    opacity: .4;
    font-size: 21px;
    border: 2px solid #555;
    background: #fff;
    border-radius:50%;
    position: relative;
    right: -7px;
    top: -6px;
    z-index: 2;
}
.closecp:hover{
    opacity: .8;
    cursor:pointer;
}
/***************************************************************/
.op{
    width: 900px;
    margin:10px auto;
    border: 2px solid #ddd;
    background: #fefefe;
    padding: 10px;  
}
.op .title{
    width: 125px;
    padding-left:10px; 
}
.op .head{
    padding-left:10px;
    font-size: 1.5em;
    background: #29b6f6;
}
.op tr{
    height: 34px;
}
.cbnn{
    width: 700px;
    height: 650px;
    margin:20px auto;
    border: 2px solid #ddd;
    background: #fefefe;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}
.cbnn table{
    width: 90%;
    margin: 20px 24px;
    border: 2px solid #ddd;
}
.cbnn table th,.cbnn table td{
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.cbnn table tbody tr:hover{
    background: #29b6f6;
    cursor:pointer;
}
.opp{
    width: 100%;
    margin:10px auto;
    border: 2px solid #ddd;
    background: #fefefe;
    padding: 10px;  
}
.opp .title{
    padding-right:10px; 
    background: #eee;
    text-align: right;
}
.opp .head{
    padding-left:10px;
    font-size: 1.5em;
    background: #29b6f6;
    text-align: left;
}
.opp .head1{
    padding-left:10px;
    background: #29b6f6;
    text-align: center;
}
.opp .head1:hover{
    background: #428bca;
    cursor:pointer;
}
.opp .acitveopp{
    background: #428bca;
}
.opp tr{
    height: 34px;
}
.opp table td{
    text-align: center;
}