<form class="mta" id="form1">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>新增菜品</th>
            </tr>
        </thead>
        <tr>
            <td width="96px">菜品类别:</td>
            <td>
                <input class="mini-combobox" id="comboBox" name="C3_530883695470" valueField="C3_511301864786" textField="C3_511301864786"/>
            </td>
        </tr>
        <tr>
            <td>菜品名称:</td>
            <td>
                <input class="mini-textbox" name="C3_511302131411" required="true"/>
            </td>
        </tr>
        <tr>
            <td>菜品价格:</td>
            <td>
                <input class="mini-textbox" name="C3_511302150302" required="true"/>
            </td>
        </tr>
        <tr>
            <td>
                菜品图片:
            </td>
            <td>
                <input
                    cursor="pointer"
                    id='fileupload1'
                    onuploaderror='onUploadError'
                    onfileselect='onFileSelect'
                    onuploadsuccess='onUploadSuccess'
                    uploadUrl='http://kingofdinner.realsun.me:8081/rispweb/rispservice/SvcUploadFile2.aspx?savepath=c:\\web\\web\\rispweb\\upfiles&httppath=http://kingofdinner.realsun.me:8081/rispweb/upfiles'
                    flashUrl='swfupload/swfupload.swf'
                    class='mini-fileupload'
                    uploadOnSelect=true 
                    name='Fdata'
                    limitType='*.jpg;*.jpeg;*.png'/>
                <input id="imgurl" name='C3_511302422114' class="mini-hidden"  allowInput="false"/>
                <img align='right' id='imgUploaded' width="70px" hidden/>
            </td>
        </tr>
        <tr>
            <td>
                菜品描述:
            </td>
            <td>
                <input name="C3_511302171145" class="mini-textarea" required="true"/>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="button" value="保存" class="btn btn-success mtai" data-bind="click : ok">
                <input type="button" value="取消" class="btn btn-danger mtai" data-bind="click : cancel">
            </td>
        </tr>
    </table>
</form>