<form id="form">
    <input type="button" value="菜品发布" class="mtai btn btn-success" onclick="addRel()">
    <div data-bind="foreach: rList">
	    <div class="mList lf">
			<img id='imgUploaded' class="lf" data-bind="attr: { src: C3_529015359909 }" width="150" height="150"/>
			<b class="lf">发布日期:</b><span class="lf" data-bind="text: C3_529015397294"></span>
            <b class="lf">餐别名称:</b><span class="lf" data-bind="text: C3_529015877010"></span>
            <b class="lf">餐厅名称:</b><span class="lf" data-bind="text: C3_529015233937"></span>
            <b class="lf">菜品名称:</b><span class="lf" data-bind="text: C3_529015358827"></span>
            <b class="lf">菜品价格:</b><div class="lf"><span data-bind="text: C3_529015359113"></span><span>元</span></div>
	    </div>
    </div>
</form>