<form class="cbn">
    <b class="closecp rf" data-bind="click : cancel">×</b>
    <table class="tc" align="center">
        <thead>
            <tr>
                <th class="tc">餐别编号</th>
                <th class="tc">餐别名称</th>
            </tr>
        </thead>
        <tbody id="cb" data-bind="foreach: cbList">
            <tr data-bind="click : cbnm">
                <td data-bind="text: C3_511307409286"></td>
                <td data-bind="text: C3_511307425895"></td>
            </tr>
        </tbody>
    </table>
</form>