<form class="cpnlist">
    <div>
        <b class="closecp rf" data-bind="click : cancel">×</b>
        <table>
            <thead>
                <tr data-bind="foreach: cpIndex">
                    <th class="tc" data-bind="click : cpmList.bind(C3_511301864786)"><h4  data-bind="text: C3_511301864786"></h4></th>
                </tr>
            </thead>
        </table>
    </div>
        <div data-bind="foreach: cpList">
            <div data-bind="click : cpnm" class="lf tc">
                <span data-bind="text: C3_511302131411"></span>
            </div>
        </div>
</form>