<form class="cpnlist" data-bind="foreach: cpIndex">
    <table class="lf">
        <thead>
            <tr>
                <th colspan="2"><h4  data-bind="text: C3_511301864786"></h4></th>
            </tr>
            <tr>
                <th class="tc">菜单名称</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: cpList">
            <tr data-bind="click : cpnm">
                <td data-bind="text: C3_511302131411"></td>
            </tr>
        </tbody>
    </table>
</form>