 
	
	 
 
	<a name="add" class="mini-button" iconCls="icon-downgrade"  >新增航班</a>
	<a  class="mini-button" iconCls="icon-downgrade" >待申请人确认出票</a>
	<a class="mini-button" iconCls="icon-downgrade">待行政确认出票</a>
	<a class="mini-button" iconCls="icon-downgrade" >订单完成</a>
	<a class="mini-button" iconCls="icon-reload" >刷新</a>
 
		<table  border="1px" width="100%" align="center" cellspacing="0px">
		<thead>
			<tr height="30px" class="head">
				<th colspan="6">员工基础信息</th>
			</tr>
		</thead>
		<tbody id="si">
		</tbody>
	</table>

    <ul class="pagination">
        <!-- ko foreach: ko.utils.range(0, maxPageIndex()) -->
        <li>
            <a href="#" data-bind="text: $data+1, click: function () { $root.pageIndexChanged($data);mini.parse(); }" ></a>
        </li>
        <!-- /ko -->
  </ul>
	<table  border="1px" width="100%" align="center" cellspacing="0px" id="tbManage" data-bind="foreach: rows">	
		
             	<tr height="30px">
                <td class="head" width="10%" colspan="2">出差单据号</td>
                <td colspan="4" data-bind="text:C3_526655624603"/> 
				 <td class="head1" align="center" width="10%">单据状态</td>
                 <td align="center" width="15%"  data-bind="text:C3_527946742678" />  
                <td rowspan="5" width="5%" align="center" >
                          <a class="mini-button" name="submit" data-bind="attr: {recid:REC_ID}"  style="width:80px;height:30px;" iconCls="icon-upload" >提交</a>
                          <a class="mini-button" name="edit" data-bind="attr: {recid:REC_ID}" style="width:80px;height:30px;" iconCls="icon-edit"  >编辑</a>
                          <a class="mini-button"  name="cancel" data-bind="attr: {recid:REC_ID}"  style="width:80px;height:30px;" iconCls="icon-remove" >撤销</a>
                </td>
            </tr>
			 <tr class="tc">
                      <td width="10%" class="title" rowspan="2">出发日期</td>
                      <td width="10%" rowspan="2" data-bind="text:C3_527948208338"></td>
                      <td width="10%" class="title" rowspan="2">出发地</td>
                      <td width="10%" rowspan="2" data-bind="text:C3_526655262089"></td>
                      <td rowspan="3" width="15%" class="ImgBox">
                          <img data-bind="attr: {src:C3_527873192635},event: { mouseover: function(e){$root.bigImage(e,event);},mouseout:function(e){$root.smallImage(e,event);}}"   class="oImg" />
                      </td>
                      <td rowspan="3" width="15%" class="ImgBox">
                          <img data-bind="attr: {src:C3_526655353950},event: { mouseover: function(e){$root.bigImage(e,event);},mouseout:function(e){$root.smallImage(e,event);}}"  class="oImg"  />
                      </td>
                      <td align="center">往程航班号</td>
                      <td data-bind="text:C3_526655793514"> </td>
           </tr>
		    <tr class="tc">
                      <td>航班时间</td>
                      <td data-bind="text:C3_528400651698"/> 
                      </tr>
                      <tr class="tc">
                      <td class="title" rowspan="2">返回日期</td>
                      <td rowspan="2" data-bind="text:C3_527948869929"/> 
                      <td class="title" rowspan="2">返回地</td>
                      <td rowspan="2" data-bind="text:C3_526655271756"/> 
                      <td align="center"">返程航班号</td>
                      <td data-bind="text:C3_528311923010"/> 
                  </tr>
                  <tr class="tc">
                      <td>护照扫描件</td>
                      <td>签证扫描件</td>
                      <td>航班时间</td>
                      <td data-bind="text:C3_528400600428"/>
                  </tr>
	
	 
	</table>
   