<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".text" mimeType="text/plain" />
            <mimeMap fileExtension=".scss" mimeType="text/plain" />
            <mimeMap fileExtension=".coffee" mimeType="text/plain" />
            <mimeMap fileExtension="." mimeType="text/plain" />
            <mimeMap fileExtension=".sass" mimeType="text/plain" />
            <mimeMap fileExtension=".opts" mimeType="text/plain" />
            <mimeMap fileExtension=".md" mimeType="text/plain" />
            <mimeMap fileExtension=".1" mimeType="text/plain" />
            <mimeMap fileExtension=".yml" mimeType="text/plain" />
            <mimeMap fileExtension=".db" mimeType="text/plain" />
            <mimeMap fileExtension=".rb" mimeType="text/plain" />
            <mimeMap fileExtension=".LICENSE" mimeType="text/plain" />
            <mimeMap fileExtension=".gemspec" mimeType="text/plain" />
            <mimeMap fileExtension=".pl" mimeType="text/plain" />
            <mimeMap fileExtension=".hbs" mimeType="text/plain" />
            <mimeMap fileExtension=".patch" mimeType="text/plain" />
            <mimeMap fileExtension=".template" mimeType="text/plain" />
            <mimeMap fileExtension=".tpl" mimeType="text/plain" />
            <mimeMap fileExtension=".ps1" mimeType="text/plain" />
            <mimeMap fileExtension=".jsonp" mimeType="text/plain" />
            <mimeMap fileExtension=".markdown" mimeType="text/plain" />
            <mimeMap fileExtension=".lock" mimeType="text/plain" />
            <mimeMap fileExtension=".nuspec" mimeType="text/plain" />
            <mimeMap fileExtension=".todo" mimeType="text/plain" />
            <mimeMap fileExtension=".py" mimeType="text/plain" />
            <mimeMap fileExtension=".rst" mimeType="text/plain" />
            <mimeMap fileExtension=".tab" mimeType="text/plain" />
            <mimeMap fileExtension=".php" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
