<form id="form5" class="auditpage">
     <!--border='1'cellspacing="0" cellpadding="0"-->
    <table align="center">
         <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Background Info</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181598826"/>
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181645731"/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181718652"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Hiring Manager
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264776828"/>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_534181730034" width="485px"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181747202"/>
                </td>
                <td class="title">
                    of Birth
                </td>
                <td>
                    <input class="mini-datepicker" value="2000-01-01" name="C3_534181767190"/>
                </td>
                <td class="title">
                    Degree
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181900158"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Yrs of Work Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181788780"/>
                </td>
                <td class="title">
                    Yrs of Related Work
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181801459"/>
                </td>
                <td class="title">
                    Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181882521"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
               <td class="title1" colspan="2">
                    Monthly
                </td>
                <td class="title1" colspan="2">
                    Annual
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181957670" onvaluechanged='vchange'/>
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534339050633" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Year-end Bonus
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181974758" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Stocks
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-textbox" name="C3_535110109847"/>
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181984193" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Allowance
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-textbox" name="C3_535110132760"/>
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181995445" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-textbox" name="C3_535110147865"/>
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182003641" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Total Cash
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534182046604" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title tc" colspan="2">
                    Candidate's Expectation
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182182372"/>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td colspan="3" class="head2 sshead oacitve" onclick="headClick('ss')">
                    <b>Salary structure</b>
                </td>
                <td colspan="3" class="head2 mdhead tc" onclick="headClick('md')">
                    <b>Market data</b>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="datafoot">
                    <div class="md">
                        <table>
                            <thead>
                                <tr>
                                    <th class="title3" width="33.3%">
                                        职位
                                    </th>
                                    <th class="title3" width="33.3%">
                                        级别
                                    </th>
                                    <th class="title3" width="33.3%">
                                        薪资范围
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: subList3">
                                <tr>
                                    <td class="tc"><b data-bind="text: C3_534182661935"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182668844"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182682809"></b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ss">
                        <table>
                            <thead>
                                <tr>
                                    <th class="title3" width="20%">
                                        Level
                                    </th>
                                    <th class="title3" width="20%">
                                        Location
                                    </th>
                                    <th class="title3" width="20%">
                                        下限
                                    </th>
                                    <th class="title3" width="20%">
                                        中点
                                    </th>
                                    <th class="title3" width="20%">
                                        上限
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: subList2">
                                <tr>
                                    <td class="tc"><b data-bind="text: C3_534182272208"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182291688"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182320476"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182331126"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182340241"></b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Departmental payroll data</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="title3" width="30%" colspan="2">
                                        Department
                                    </th>
                                    <th class="title3" width="5%">
                                        级别
                                    </th>
                                    <th class="title3" width="5%">
                                        人数
                                    </th>
                                    <th class="title3" width="12%">
                                        Median中位数
                                    </th>
                                    <th class="title3" width="12%">
                                        平均基本&绩效
                                    </th>
                                    <th class="title3" width="12%">
                                        平均加班小时
                                    </th>
                                    <th class="title3" width="12%">
                                        最小基本&绩效
                                    </th>
                                    <th class="title3" width="12%">
                                        最大基本&绩效
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: subList4">
                                <tr>
                                    <td class="tc oh" colspan="2"><b data-bind="text: C3_534182432109"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182440112"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182447890"></b></td>
                                    <td class="tc"><b data-bind="text: C3_535718965183"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182477477"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182501565"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182525026"></b></td>
                                    <td class="tc"><b data-bind="text: C3_534182514734"></b></td>   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Proposal</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="title1 tc" colspan="2">
                    Min
                </td>
                <td class="title2 tc" colspan="2">
                    Max
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Salary
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183009192" increment="100"/>
                </td>
                <td colspan="2" class="tr">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183037917" increment="100"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    RSUs
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-textbox" name="C3_534183031497"/>
                </td>
                <td colspan="2" class="tc">
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="2">
                </td>
                <td colspan="2" class="tr">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183067213" increment="100"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Confirmation</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="title1 tc" colspan="2">
                    Min
                </td>
                <td class="title2 tc" colspan="2">
                    Max
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Salary
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183782055" increment="100"/>
                </td>
                <td colspan="2" class="tr">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183782431" increment="100"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    RSUs
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-textbox" name="C3_534183782616"/>
                </td>
                <td colspan="2" class="tc">
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="2">
                </td>
                <td colspan="2" class="tr">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183782805" increment="100"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="head">
                    <b>Attachments</b>
                </td>
                <td colspan="4" class="head tc">
                    <b>Approval Description</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <a id="ahref" target="_blank" href="#"><img src="../../img/pdf.jpg" width="60"/></a>
                    <a id="ahref2" target="_blank" href="#"><img src="../../img/word.jpg" width="60"/></a>
                </td>
                <td colspan="4" class="tc">
                    <input class="mini-textarea w500" name="C3_535110269532"/>
                    <input type="button" id="fbb" value="Submit" class="btn btn-success" data-bind="click : ok">
                    <input type="button" value="Return" class="btn btn-warning" data-bind="click : cancel">
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Employment & Approval process</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <tbody>
                            <td class="title3">
                                审批节点
                            </td>
                            <td class="title3">
                                审批人
                            </td>
                            <td class="title3">
                                审批结果
                            </td>
                            <td class="title3">
                                审批时间
                            </td>
                        </tbody>
                        <tfoot data-bind="foreach: subList1">
                            <tr>
                                <td class="tc">
                                    <b data-bind="text: C3_534184045558"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534184046541"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534184046739"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534184046952"></b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</form>