<form id="form5" class="auditpage">
     <!--border='1'cellspacing="0" cellpadding="0"-->
    <table align="center">
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Background Info</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Job Title
                </td>
                <td width="13%">
                    <input class="mini-textbox" name="C3_534181598826"/>
                </td>
                <td class="title">
                    Level
                </td>
                <td width="13%">
                    <input class="mini-textbox" name="C3_534181645731"/>
                </td>
                <td class="title">
                    Location
                </td>
                <td width="13%">
                    <input class="mini-textbox" name="C3_534181718652"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Hiring Manager
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264776828"/>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_534181730034" width="485px"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181747202"/>
                </td>
                <td class="title">
                    of Birth
                </td>
                <td>
                    <input class="mini-datepicker" value="2000-01-01" name="C3_534181767190"/>
                </td>
                <td class="title">
                    Degree
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181900158"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Yrs of Work Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181788780"/>
                </td>
                <td class="title">
                    Yrs of Related Work
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181801459"/>
                </td>
                <td class="title">
                    Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181882521"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
               <td class="title1" colspan="2">
                    Monthly
                </td>
                <td class="title1" colspan="2">
                    Annual
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181957670" onvaluechanged='vchange'/>
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534339050633" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Year-end Bonus
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181974758" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Stocks
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181984193" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Allowance
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181995445" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182003641" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Total Cash
                </td>
                <td colspan="2">
                </td>
                <td class="tr" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534182046604" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title tc" colspan="2">
                    Candidate's Expectation
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182182372"/>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b class="lf">Salary Proposal</b><b class="rf">Attachments</b>
                </td>
            </tr>
            <tr>
                <td class="title" rowspan="2">
                    Salary
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183009192" width="50%"/>Min
                </td>
                <td class="title">
                    RSUs
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183031497" width="50%"/>
                </td>
                <td class="title" rowspan="2">
                    <b>View Attachments</b>
                </td>
                <td rowspan="2" class="tc">
                    <a id="ahref" href="#"><img src="../../img/pdf.jpg" width="60"/></a>
                    <a id="ahref2" href="#"><img src="../../img/word.jpg" width="60"/></a>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183037917" width="50%"/>Max
                </td>
                <td class="title">
                    Other
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534183067213" width="50%"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<form id="form6" class="auditpage">
    <table>
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Confirmation</b>
                </td>
            </tr>
            <tr>
                <td class="title" rowspan="2">
                    Salary
                </td>
                <td width="13%">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" increment="100" name="C3_534183782055" width="50%"/>Min
                </td>
                <td class="title">
                    RSUs
                </td>
                <td width="13%">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" increment="100" name="C3_534183782616" width="50%"/>
                </td>
                <td rowspan="2" class="tc" width="12%">
                    <input type="button" id="fbb" value="Submit" class="btn btn-success" data-bind="click : ok">
                </td>
                <td rowspan="2" width="13%">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" increment="100" name="C3_534183782431" width="50%"/>Max
                </td>
                <td class="title">
                    Other
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" increment="100" name="C3_534183782805" width="50%"/>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<form class="auditpage">
    <table>
        <tfoot>
             <tr>
                <td colspan="2" width="25%" class="foot eaphead oacitve" onclick="headClick('eap')">
                    <b>Employment & Approval process</b>
                </td>
                <td colspan="2" width="25%" class="foot sshead" onclick="headClick('ss')">
                    <b>Salary structure</b>
                </td>
                <td colspan="2" width="25%" class="foot mdhead" onclick="headClick('md')">
                    <b>Market data</b>
                </td>
                <td colspan="2" width="25%" class="foot dashead" onclick="headClick('das')">
                    <b>Departmental average salary</b>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="datafoot">
        <div class="ss">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="12.5%">
                            Level
                        </th>
                        <th class="title" width="12.5%">
                            Location
                        </th>
                        <th class="title" width="12.5%">
                            下限
                        </th>
                        <th class="title" width="12.5%">
                            中点
                        </th>
                        <th class="title" width="12.5%">
                            上限
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: subList2">
                    <tr>
                        <td><b data-bind="text: C3_534182272208"></b></td>
                        <td><b data-bind="text: C3_534182291688"></b></td>
                        <td><b data-bind="text: C3_534182320476"></b></td>
                        <td><b data-bind="text: C3_534182331126"></b></td>
                        <td><b data-bind="text: C3_534182340241"></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="md">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="12.5%">
                            职位
                        </th>
                        <th class="title" width="12.5%">
                            级别
                        </th>
                        <th class="title" width="12.5%">
                            薪资范围
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: subList3">
                    <tr>
                        <td><b data-bind="text: C3_534182661935"></b></td>
                        <td><b data-bind="text: C3_534182668844"></b></td>
                        <td><b data-bind="text: C3_534182682809"></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="das">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="25%" colspan="2">
                            Department
                        </th>
                        <th class="title" width="12.5%">
                            级别
                        </th>
                        <th class="title" width="12.5%">
                            人数
                        </th>
                        <th class="title" width="12.5%">
                            平均基本&绩效
                        </th>
                        <th class="title" width="12.5%">
                            平均加班小时
                        </th>
                        <th class="title" width="12.5%">
                            最大基本&绩效
                        </th>
                        <th class="title" width="12.5%">
                            最小基本&绩效
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: subList4">
                    <tr>
                        <td colspan="2"><b data-bind="text: C3_534182432109"></b></td>
                        <td><b data-bind="text: C3_534182440112"></b></td>
                        <td><b data-bind="text: C3_534182447890"></b></td>
                        <td><b data-bind="text: C3_534182477477"></b></td>
                        <td><b data-bind="text: C3_534182501565"></b></td>
                        <td><b data-bind="text: C3_534182514734"></b></td>
                        <td><b data-bind="text: C3_534182525026"></b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="eap">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="25%" colspan="2">
                            流程名称
                        </th>
                        <th class="title" width="12.5%">
                            审批节点
                        </th>
                        <th class="title" width="12.5%">
                            审批人
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: subList1">
                    <tr>
                        <td colspan="2"><b data-bind="text: C3_534187327391"></td>
                        <td><b data-bind="text: C3_534184045558"></b></td>
                        <td><b data-bind="text: C3_534184046541"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>