<form class="cbnn">
    <!--<b class="closecp rf" data-bind="click : cancel">×</b>-->
    <table class="tc" align="center">
        <thead>
            <tr>
                <th colspan="7" class="tr">
                    <input type="button" value="search" class="rf" onclick="searchCfn()" id="searchBtncfn"><input class="rf mini-textbox" id="searchBoxcfn" name="searchBoxcfn">
                </th>
            </tr>
            <tr>
                <th class="tc">人员编号</th>
                <th class="tc">岗位名称</th>
                <th class="tc">员工工号</th>
                <th class="tc">员工姓名</th>
                <th class="tc">性别</th>
                <th class="tc">英文名</th>
                <th class="tc">入司日期</th>
            </tr>
        </thead>
        <tbody id="ct" data-bind="foreach: cfnopList">
            <tr data-bind="click : opnm">
                <td data-bind="text: C3_305737857578"></td>
                <td data-bind="text: C3_417990929305"></td>
                <td data-bind="text: C3_227192472953"></td>
                <td data-bind="text: C3_227192484125"></td>
                <td data-bind="text: C3_227192512406"></td>
                <td data-bind="text: C3_227192496109"></td>
                <td data-bind="text: C3_440000039379"></td>
            </tr>
        </tbody>
    </table>
    <!--<div>
        <img id="imgBox" src="../../img/jzz3.gif">
    </div>-->
</form>