<form id="form1" class="opp">
    <input type="button" value="已审批" class="btn btn-success fbb" onclick="ysp()">
    <input type="button" value="未审批" class="btn btn-warning fbb" onclick="wsp()">
    <input type="button" value="已拒绝" class="btn btn-warning fbb" onclick="yjj()">
    <input type="button" value="clear" class="rf" onclick="rePage()">
    <input type="button" value="filter" class="rf" onclick="searchcf()" id="searchBtncf">
    <input class="rf mini-textbox" id="searchBoxcf" name="searchBoxcf">
    <table align="center" border='1'cellspacing="0" cellpadding="0">
        <thead>
            <th class="tc">Candidate</th>
            <th class="tc">Job Title</th>
            <th class="tc">Level</th>
            <th class="tc">Location</th>
            <th class="tc">Hiring Manager</th>
            <th class="tc">Department</th>
            <th class="tc">RequistionNumber</th>
            <th></th>
        </thead>
        <tbody data-bind="foreach: oList">
            <tr>
                <td class="tc"><span data-bind="text: C3_534181747202"></span></td>
                <td class="tc"><span data-bind="text: C3_534181598826"></span></td>
                <td class="tc"><span data-bind="text: C3_534181645731"></span></td>
                <td class="tc"><span data-bind="text: C3_534181718652"></span></td>
                <td class="tc"><span data-bind="text: C3_534264776828"></span></td>
                <td class="tc"><span data-bind="text: C3_534181730034"></span></td>
                <td class="tc"><span data-bind="text: C3_534184180284"></span></td>
                <td>
                    <input type="button" value="Preview" class="p1 btn btn-primary rf fbb" data-bind="click : offerView.bind()">
                    <input type="button" value="Review" class="r1 btn btn-success rf fbb" data-bind="click : eaSubmit.bind()">
                </td>
            </tr>
        </tbody>
    </table>
</form>
 