<form id="form9" class="op">
    <table> 
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Offer information</b>
                    <b class="closecp rf" data-bind="click : cancel">×</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Name
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094490" readonly/>
                </td>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093586" readonly/>
                </td>
                <td class="title">
                    Report to
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264724518" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                     <input class="mini-textbox" name="C3_534187094286" width="450px" readonly/>
                </td>
                <td class="title">
                    Project/Function
                </td>
                <td>
                    <input class="mini-textbox" name="C3_535826701051" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Type
                </td>
                <td>
                    <input class="mini-textbox" name="C3_535827034365" readonly/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094088" readonly/>
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093868" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    总部审批通过
                </td>
                <td>
                    <input class="mini-textbox" name="C3_545943975225" required="true"/>
                </td>
                <td class="title">
                    总部通过日期
                </td>
                <td>
                    <input class="mini-textbox" name="C3_545943965722" required="true"/>
                </td>
                <td colspan="2">
                    <input type="button" value="Save" class="btn btn-success rf" style="margin: 0 20px" data-bind="click : save">
                </td>
            </tr>
        </tbody>
    </table>
</form>
 