<form id="form7" class="op ht864">
    <table width="100%"> 
        <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Offer Confirmation</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    目标部门经理
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534188520203" required="true" onclick="cfnn()"/>
                </td>
                <td colspan="4" class="title">
                    <input class="mini-textbox" name="C3_534187093586s"/>-<input class="mini-textbox" name="C3_534187094490s"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head2">
                    <span>Summary from hiring manager</span><input class="mini-textbox" name="C3_534264724518s"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="6" id="opt1">
                    1.<input class="mini-textbox" name="C3_536319464780" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head2">
                    2.<input class="mini-textbox" name="C3_536319472674" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="title">
                    3.<input class="mini-textbox" name="C3_536319473964" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head2">
                    4.<input class="mini-textbox" name="C3_536319475165" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="title">
                    5.<input class="mini-textbox" name="C3_536319476423" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head2">
                    6.<input class="mini-textbox" name="C3_536319478009" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Offer information</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Name
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094490" readonly/>
                </td>
                <td class="title">
                    Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093586" onclick="cfnm()"/>
                </td>
                <td class="title">
                    Report to
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264724518" onclick="cfnm()"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                     <input class="mini-textbox" name="C3_534187094286" width="450px" readonly/>
                </td>
                <td class="title">
                    Project/Function
                </td>
                <td>
                    <input class="mini-textbox" name="C3_535826701051"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    New/Repacement
                </td>
                <td>
                    <input class="mini-textbox" name="C3_535827034365" readonly/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094088" readonly/>
                </td>
                <td class="title">
                    
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary proposal</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Salary
                </td>
                <td colspan="2"  class="tc">
                    <input class="mini-spinner" minValue="0" maxValue="999999" increment="100" name="C3_536089623045" onvaluechanged="sRange"/>
                </td>
                <td colspan="3"  class="tc">
                    <input class="mini-textbox" style="text-align: right;" name="C3_534187097705" readonly/>
                    <b>～</b>
                    <input class="mini-textbox" name="C3_534187097900" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    RSUs
                </td>
                <td colspan="5" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534183031497"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Other
                </td>
                <td colspan="5" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534183067213"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Attachments</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <a id="ahref" target="_blank" href="#"><img src="../../img/pdf.jpg" width="60"/></a>
                    <a id="ahref2" target="_blank" href="#"><img src="../../img/word.jpg" width="60"/></a>
                </td>
                <td colspan="2">
                </td>
                <td colspan="2" class="foot">
                    <input type="button" value="Cancel" class="btn btn-warning rf" data-bind="click : cancel">
                    <input type="button" value="Submit" class="btn btn-success rf fbb" data-bind="click : submit">
                </td>
            </tr><tr>
                <td colspan="6" class="head">
                    <b>Approval process</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <tbody>
                            <td class="title3" width="25%">
                                审批节点
                            </td>
                            <td class="title3" width="25%">
                                审批人
                            </td>
                            <td class="title3" width="25%">
                                审批结果
                            </td>
                            <td class="title3" width="25%">
                                审批时间
                            </td>
                        </tbody>
                        <tfoot data-bind="foreach: subList">
                            <tr>
                                <td class="tc">
                                    <b data-bind="text: C3_534187897342"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534187898575"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534187898785"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534187898986"></b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</form>
 