<form id="form7" class="op">
    <table> 
        <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Offer Confirmation</b>
                    <b class="closecp rf" data-bind="click : cancel">×</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    部门经理
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534188520203" required="true" onclick="cfnn()"/>
                    <input class="mini-hidden" name="C3_534188545242">
                    <input class="mini-hidden" name="C3_534188517500">
                </td>
                <td colspan="4" class="title">
                    <input class="mini-textbox" name="C3_534187093586s"/>-<input class="mini-textbox" name="C3_534187094490s"/>
                </td>
            </tr>
            <tr class="dy8">
                <td colspan="6" class="head2">
                    <span>Summary From Hiring Manager</span><input class="mini-textbox" name="C3_534264724518s"/>
                </td>
            </tr>
            <tr class="dy8">
                <td class="title" colspan="6" id="opt1">
                    1.<input class="mini-textbox" name="C3_536319464780" width="96%" emptyText="请至少输入三条文本!"/>
                </td>
            </tr>
            <tr class="dy8">
                <td colspan="6" class="head2">
                    2.<input class="mini-textbox" name="C3_536319472674" width="96%" emptyText="请至少输入三条文本!"/>
                </td>
            </tr>
            <tr class="dy8">
                <td colspan="6" class="title">
                    3.<input class="mini-textbox" name="C3_536319473964" width="96%" emptyText="请至少输入三条文本!"/>
                </td>
            </tr>
            <tr class="dy8">
                <td colspan="6" class="head2">
                    4.<input class="mini-textbox" name="C3_536319475165" width="96%"/>
                </td>
            </tr>
            <tr class="dy8">
                <td colspan="6" class="title">
                    5.<input class="mini-textbox" name="C3_536319476423" width="96%"/>
                </td>
            </tr>
            <tr class="dy8">
                <td colspan="6" class="head2">
                    6.<input class="mini-textbox" name="C3_536319478009" width="96%"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Offer information</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Name
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094490" readonly/>
                </td>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093586" readonly/>
                </td>
                <td class="title">
                    Report to
                </td>
                <td id="rt">
                    <input class="mini-textbox" name="C3_534264724518" required="true"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                     <input class="mini-textbox" name="C3_534187094286" width="450px" readonly/>
                </td>
                <td class="title">
                    Project/Function
                </td>
                <td id="pf">
                    <input class="mini-textbox" name="C3_535826701051" required="true"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Type
                </td>
                <td>
                    <input class="mini-textbox" name="C3_535827034365" readonly/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094088" readonly/>
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093868s" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Base Salary
                </td>
                <td colspan="2"  class="tc" id="bs">
                    RMB<input class="mini-textbox" name="C3_536089623045" onvaluechanged="sRange" required="true"/><b>/Monthly</b>
                </td>
                <td colspan="3"  class="tc">
                    <input class="mini-textbox" style="text-align: right;" name="C3_534187097705" readonly/>
                    <b>～</b>
                    <input class="mini-textbox" name="C3_534187097900" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    RSUs
                </td>
                <td colspan="5" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534187098102"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Other
                </td>
                <td colspan="5" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534187098301"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Comments</b>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="tc">
                    <input class="mini-textarea" width="96%" style="height:66px" name="C3_544810053160"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Attachments</b>
                </td>
            </tr>
            <tr>
                <td class="tc" colspan="2">
                    <a id="ahref" target="_blank" href="#"><img src="../../img/timg.jpg" width="60"/></a>
                    <a id="ahref2" target="_blank" href="#"><img src="../../img/timg.jpg" width="60"/></a>
                    <a id="ahref3" target="_blank" href="#"><img src="../../img/timg.jpg" width="60"/></a>
                </td>
                <td colspan="2" class="tc">
                    <div id="lgid">
                        Level: 
                        <input class="mini-textbox" name="C3_534187093868" readonly/>
                        Grade: 
                        <select class="mini-combobox" style="width:50px" showNullItem="true" name="C3_541174246921" id="" required="true">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                        </select>
                    </div>
                </td>
                <td colspan="2" class="foot">
                    <input type="button" id="fbc" value="Reject" class="btn btn-warning rf" data-bind="click : no">
                    <input type="button" id="fbd" value="Save" class="btn btn-primary rf" data-bind="click : save">
                    <input type="button" id="fbb" value="Approve" class="btn btn-success rf" data-bind="click : ok">
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Approval process</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <tbody>
                            <td class="title3" width="25%">
                                审批人
                            </td>
                            <td class="title3" width="25%">
                                审批结果
                            </td>
                            <td class="title3" width="25%">
                                审批时间
                            </td>
                        </tbody>
                        <tfoot data-bind="foreach: subList">
                            <tr>
                                <td class="tc">
                                    <b data-bind="text: C3_534187898575"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534187898785"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534187898986"></b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</form>
 