<form id="form1" class="opp">
    <table align="center" border='1'cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th colspan="8">
                    <input type="button" value="New Offer Proposal" class="btn btn-success mtaii" onclick= "newop()">
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: oList">
            <tr>
                <td colspan="2" class="head" width="25%">
                    <b>Background Info</b>
                </td>
                <td colspan="2" class="head" width="25%">
                </td>
                <td colspan="2" class="head" width="25%">
                </td>
                <td colspan="2" class="head" width="25%">
                </td>
            </tr>
            <tr>
                <td class="title" width="12%">
                    Job Title
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181598826"></b>
                </td>
                <td class="title" width="12%">
                    Level
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181645731"></b>
                </td>
                <td class="title" width="12%">
                    Location
                </td>
                <td width="13%">
                    <b data-bind="text: 534181718652"></b>
                </td>
                <td class="title" width="12%">
                    Hiring Manager
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534264776828"></b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <b data-bind="text: C3_534181730034"></b>
                </td>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <b data-bind="text: C3_534181747202"></b>
                </td>
                <td class="title">
                    of Birth
                </td>
                <td>
                    <b data-bind="text: C3_534336830490"></b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Degree
                </td>
                <td>
                   <b data-bind="text: C3_534181900158"></b>
                </td>
                <td class="title">
                    Yrs of Work Exp
                </td>
                <td>
                    <b data-bind="text: C3_534181788780"></b>
                </td>
                <td class="title">
                    Yrs of Related Work
                </td>
                <td>
                    <b data-bind="text: C3_534181801459"></b>
                </td>
                <td class="title">
                    Exp
                </td>
                <td>
                    <b data-bind="text: C3_534181882521"></b>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="tc" colspan="2">
                    Monthly
                </td>
                <td class="tc" colspan="2">
                    Annual
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title">
                </td>
                <td class="title">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534181957670"></b>
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534339050633"></b>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title">
                </td>
                <td class="title">
                    Year-end Bonus
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534181974758"></b>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title">
                </td>
                <td class="title">
                    Stocks
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534181984193"></b>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title">
                </td>
                <td class="title">
                    Allowance
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534181995445"></b>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title">
                </td>
                <td class="title">
                    Other
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534182003641"></b>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title">
                </td>
                <td class="title">
                    Total Cash
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534182046604"></b>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td class="title tc" colspan="2">
                    Candidate's Expectation
                </td>
                <td class="tc" colspan="2">
                    <b data-bind="text: C3_534182182372"></b>
                </td>
                <td colspan="2">
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="head1 eaphead acitveopp" onclick="headClick('eap')">
                    <b>Employment & Approval process</b>
                </td>
                <td colspan="2" class="head1 sshead" onclick="headClick('ss')">
                    <b>Salary structure</b>
                </td>
                <td colspan="2" class="head1 mdhead" onclick="headClick('md')">
                    <b>Market data</b>
                </td>
                <td colspan="2" class="head1 dashead" onclick="headClick('das')">
                    <b>Departmental average salary</b>
                </td>
            </tr>
            <tr class="eap">
                <td class="title">
                    流程名称
                </td>
                <td>
                    <!--<b data-bind="text: C3_534187327391"></b>-->
                </td>
                <td class="title">
                    审批节点
                </td>
                <td>
                    <!--<b data-bind="text: C3_534184045558"></b>-->
                </td>
                <td class="title">
                    审批人
                </td>
                <td>
                    <!--<b data-bind="text: C3_534184046541"></b>-->
                </td>
                <td>
                    <!--流程名称-->
                </td>
                <td>
                    <!--<b data-bind="text: C3_534339050633"></b>-->
                </td>
            </tr>
            <tr class="ss">
                <td class="title">
                    Level
                </td>
                <td>

                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr class="ss">
                <td class="title">
                    下限
                </td>
                <td>

                </td>
                <td class="title">
                    中点
                </td>
                <td>
                    
                </td>
                <td class="title">
                    上限
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr class="md">
                <td class="title">
                    职位
                </td>
                <td>

                </td>
                <td class="title">
                    级别
                </td>
                <td>
                    
                </td>
                <td class="title">
                    薪资范围
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr class="das">
                <td class="title">
                    Department
                </td>
                <td>

                </td>
                <td class="title">
                    级别
                </td>
                <td>
                    
                </td>
                <td class="title">
                    人数
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
            <tr class="das">
                <td class="title">
                    平均基本和绩效
                </td>
                <td>

                </td>
                <td class="title">
                    平均加班小时
                </td>
                <td>
                    
                </td>
                <td class="title">
                    最大基本和绩效
                </td>
                <td>
                    
                </td>
                <td class="title">
                    最小基本和绩效
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</form>
 