<form id="form1" class="opp">
    <table align="center">
         <!--border='1'cellspacing="0" cellpadding="0"-->
        <input type="button" value="New Offer Proposal" class="btn btn-success mtaii fbb" onclick= "newOp()">
        <thead>
             <tr>
                 <th colspan="8">
                    <input type="button" value="clear" class="rf" onclick="rePage()">
                    <input type="button" value="filter" class="rf" onclick="searchcf()" id="searchBtncf">
                    <input class="rf mini-textbox" id="searchBoxcf" name="searchBoxcf">
                 </th>
             </tr>
            <tr>
                <th class="tc">Candidate</th>
                <th class="tc">Job Title</th>
                <th class="tc">Level</th>
                <th class="tc">Location</th>
                <th class="tc">Hiring Manager</th>
                <th class="tc">Department</th>
                <th class="tc">审批状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: oList">
            <tr>
                <td class="tc"><span data-bind="text: C3_541011395561"></span></td>
                <td class="tc"><span data-bind="text: C3_534181598826"></span></td>
                <td class="tc"><span data-bind="text: C3_534181645731"></span></td>
                <td class="tc"><span data-bind="text: C3_534181718652"></span></td>
                <td class="tc"><span data-bind="text: C3_534264776828"></span></td>
                <td class="tc"><span data-bind="text: C3_534181730034"></span></td>
                <td class="tc"><span data-bind="text: C3_544804530402"></span></td>
                <td class="tc">
                    <input type="button" value="Delete" class="btn btn-warning rf fbb" data-bind="click : offerDel.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                    <input type="button" value="Preview" class="btn btn-primary rf fbb" data-bind="click : offerView.bind()">
                    <input type="button" value="Edit" class="btn btn-warning rf fbb" data-bind="click : offerEdit.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                    <input type="button" value="Submit" class="btn btn-success rf fbb" data-bind="click : offerSubmit.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                </td>
            </tr>
        </tbody>
        <!--<thead>
            <tr>
                <th colspan="8">
                    <input type="button" value="New Offer Proposal" class="btn btn-success mtaii fbb" onclick= "newOp()">
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: oList">
            <tr>
                <td colspan="8" class="head">
                    <input type="button" value="Delete" class="btn btn-warning rf fbb" data-bind="click : offerDel.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                    <input type="button" value="Preview" class="btn btn-primary rf fbb" data-bind="click : offerView.bind()">
                    <input type="button" value="Edit" class="btn btn-warning rf fbb" data-bind="click : offerEdit.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                    <input type="button" value="Submit" class="btn btn-success rf fbb" data-bind="click : offerSubmit.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <b data-bind="text: C3_534181747202"></b>
                </td>
                <td class="title" width="12%">
                    Job Title
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181598826"></b>
                </td>
                <td class="title" width="12%">
                    Level
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181645731"></b>
                </td>
                <td class="title" width="12%">
                    Location
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181718652"></b>
                </td>
            </tr>
            <tr>
                <td class="title" width="12%">
                    Hiring Manager
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534264776828"></b>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <b data-bind="text: C3_534181730034"></b>
                </td>
                <td class="title">
                    RequistionNumber
                </td>
                <td>
                    <b data-bind="text: C3_534184180284"></b>
                </td>
            </tr>
        </tbody>-->
    </table>
</form>
 