<form id="form4" class="preview">
    <table width="100%" border='1'cellspacing="0" cellpadding="0">
         <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Background Info.</b>
                    <b class="closecp rf" data-bind="click : cancel">×</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181598826"/>
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181645731" readonly/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181718652" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Hiring Manager
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264776828" readonly/>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_534181730034" width="98%" readonly/>
                    <input class="mini-hidden" name="C3_534184180284" readonly/>
                    <input class="mini-hidden" name="C3_534184180596" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181747202"/>
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-textbox" name="C3_541011395561"/>
                </td>
                <td class="title">
                    Date of Birth
                </td>
                <td>
                    <input class="mini-datepicker" value="2000-01-01" name="C3_534181767190"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Degree
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181900158"/>
                </td>
                <td class="title">
                    Yrs of Work Exp.
                </td>
                <td>
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="50" name="C3_534181788780"/>
                </td>
                <td class="title">
                    Yrs of Related Working Exp.
                </td>
                <td>
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="50" name="C3_534181801459"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181957670" onvaluechanged='vchange'/><b>/monthly</b>
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="99999999" name="C3_534339050633" readonly/><b>/annual</b>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Year-end Bonus
                </td>
                <td colspan="3">
                </td>
                <td class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181974758" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Stocks
                </td>
                <td colspan="3" class="tc">
                    <input class="mini-textarea" width="96%" style="height:66px" name="C3_535110109847"/>
                </td>
                <td class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181984193" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Allowance
                </td>
                <td colspan="3" class="tc">
                    <input class="mini-textarea" width="96%" style="height:66px" name="C3_535110132760"/>
                </td>
                <td class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181995445" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="3" class="tc">
                    <input class="mini-textarea" width="96%" style="height:66px" name="C3_535110147865"/>
                </td>
                <td class="tc">
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Total Cash
                </td>
                <td colspan="3">
                </td>
                <td class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="99999999" name="C3_534182046604" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Candidate's Expectation
                </td>
                <td>
                </td>
                <td class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182182372"/>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Structure</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <thead>
                            <tr>
                                <th class="title3" width="20%">
                                    Level
                                </th>
                                <th class="title3" width="20%">
                                    Location
                                </th>
                                <th class="title3" width="20%">
                                    Min.
                                </th>
                                <th class="title3" width="20%">
                                    Median
                                </th>
                                <th class="title3" width="20%">
                                    Max.
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: subList2">
                            <tr>
                                <td class="tc"><b data-bind="text: C3_534182272208"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182291688"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182320476"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182331126"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182340241"></b></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Departmental payroll data</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <thead>
                            <tr>
                                <th class="title3" width="30%" colspan="2">
                                    Department
                                </th>
                                <th class="title3" width="5%">
                                    Level
                                </th>
                                <th class="title3" width="5%">
                                    No. of Employees
                                </th>
                                <th class="title3" width="12%">
                                    Median of Gross Salary
                                </th>
                                <th class="title3" width="12%">
                                    Average of Gross Salary
                                </th>
                                <th class="title3" width="12%">
                                    Min. of Gross Salary
                                </th>
                                <th class="title3" width="12%">
                                    Max. of Gross Salary
                                </th>
                                <th class="title3" width="12%">
                                    Average of OT
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: subList4">
                            <tr>
                                <td class="tc oh" colspan="2"><b data-bind="text: C3_534182432109"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182440112"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182447890"></b></td>
                                <td class="tc"><b data-bind="text: C3_535718965183"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182477477"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182525026"></b></td>
                                <td class="tc"><b data-bind="text: C3_534182514734"></b></td>   
                                <td class="tc"><b data-bind="text: C3_534182501565"></b></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Proposal</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="title1 tc" colspan="2">
                    Min.
                </td>
                <td class="title2 tc" colspan="2">
                    Max.
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Salary
                </td>
                <td colspan="2"  class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="99999999" name="C3_534183009192" increment="100"/>
                </td>
                <td colspan="2"  class="tc">
                    <b style="font-size: 30px;float:left;line-height: 30px;">～</b>
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="99999999" name="C3_534183037917" increment="100"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    RSUs
                </td>
                <td colspan="4" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534183031497"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="4" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534183067213"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Confirmation</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="title1 tc" colspan="2">
                    Min.
                </td>
                <td class="title2 tc" colspan="2">
                    Max.
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Salary
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="99999999" name="C3_534183782055" increment="100"/>
                </td>
                <td colspan="2" class="tc">
                    <b style="font-size: 30px;float:left;line-height: 30px;">～</b>
                    <input class="mini-spinner" changeOnMousewheel="false" value="0" minValue="0" maxValue="99999999" name="C3_534183782431" increment="100"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    RSUs
                </td>
                <td colspan="4" class="tc">
                    <input  class="mini-textbox" style="width:98%" name="C3_534183782616"/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="4" class="tc">
                    <input class="mini-textbox" style="width:98%" name="C3_534183782805"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="head">
                    <b>Attachments</b>
                </td>
                <td colspan="4" class="head tc">
                    <b>Suggestion</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <a id="ahref" target="_blank" href="#"><img src="../../img/pdf.jpg" width="60"/></a>
                    <a id="ahref2" target="_blank" href="#"><img src="../../img/word.jpg" width="60"/></a>
                </td>
                <td colspan="4" class="tc">
                    <input class="mini-textarea w500" name="C3_535110269532"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Employment & Approval process</b>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <table>
                        <tbody>
                            <td class="title3">
                                审批节点
                            </td>
                            <td class="title3">
                                审批人
                            </td>
                            <td class="title3">
                                审批结果
                            </td>
                            <td class="title3">
                                审批时间
                            </td>
                        </tbody>
                        <tfoot data-bind="foreach: subList1">
                            <tr>
                                <td class="tc">
                                    <b data-bind="text: C3_534184045558"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534184046541"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534184046739"></b>
                                </td>
                                <td class="tc">
                                    <b data-bind="text: C3_534184046952"></b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</form>
 