<html>
    <body>
        <form id="form3">
            <table>
                <tr>
                    <td>出发地: </td>
                    <td><input class="mini-textbox" required="true" name="C3_526656511963"></td>
                </tr>
                <tr>
                    <td>目的地:</td>
                    <td><input class="mini-textbox" required="true" name="C3_526656512229"></td>
                </tr>
                <tr>
                    <td>出发日期: </td>
                    <td><input class="mini-datepicker" required="true" name="C3_526656511485"></td>
                </tr>
                <tr>
                    <td>行程类别</td>
                    <td>
                        <select class="mini-combobox" name="C3_526656512808">
		                    <option value="往程">往程</option>
                            <option value="返程">返程</option>
	                    </select>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <a class="mini-button" iconCls="icon-save" onclick="saveClick">保存</a>
                    </td>
                </tr>
            </table>
        </form>
        <script>
            
            function Setdbs(dbs,appConfig,REC_ID){
                //debugger;
                var resid=appConfig.domesticfilght.guoneiResid;
                //debugger;
                var cmswhere="";
                saveClick=function(){
                    mini.parse();
                    var form = new mini.Form("form3");
                    var o =  new mini.Form("form3").getData();
                    form.validate(); 
                    if (form.isValid() == false) return;
                    o._id=1;
                    o._state="added";
                    var json = mini.encode([o]);
                    console.log(json);
                    dbs.dbSavedata(appConfig.domesticfilght.guoneiResid,0,json,dataSaved,fnerror,fnhttperror);
                    function dataSaved(text){
                        alert("申请成功");
                        //console.log(text);
                    }
                    function fnerror(text){
                        alert("申请失败");
                        //console.log(text);
                    }
                    function fnhttperror(jqXHR, textStatus, errorThrown){
                        alert("error");
                    }
                    window.CloseOwnerWindow();
                }
            }
        </script>
        <script src="../../scripts/boot.js" type="text/javascript"></script>
        <link href="../../scripts/css/siteDetail.css" rel="stylesheet" type="text/css">
        <script src="../shiftJs/domestic.js" type="text/javascript"></script>
        <script src="../component/swfupload/swfupload.js" type="text/javascript"></script>
    </body>
</html>