 <form id="form1">
	<a class="mini-button head2" iconCls="icon-add" onclick="KingofAttendances.international.addClick">新增航班</a>
	<a class="mini-button head2" iconCls="icon-no" onclick="KingofAttendances.international.navClick('未提交')">未提交</a>
	<a class="mini-button head2" iconCls="icon-downgrade" onclick="KingofAttendances.international.navClick('已提交')">已提交</a>
	<a class="mini-button head2" iconCls="icon-downgrade" onclick="KingofAttendances.international.navClick('待确认出票')">待申请人确认出票</a>
	<a class="mini-button head2" iconCls="icon-downgrade" onclick="KingofAttendances.international.navClick('待行政确认出票')">待行政确认出票</a>
	<a class="mini-button head2" iconCls="icon-downgrade" onclick="KingofAttendances.international.navClick('订单完成')">订单完成</a>
	<a class="mini-button head2" iconCls="icon-reload" onclick="parent.location.reload()">刷新</a>
	<table  border="1px" width="100%" align="center" cellspacing="0px">
		<thead>
			<tr height="30px" class="head">
				<th colspan="6">员工基础信息</th>
			</tr>
		</thead>
		<tbody id="si">
		</tbody>
	</table>
	<br>	
	<table  border="1px" width="100%" align="center" cellspacing="0px" id="tbManage">	
		<tbody>
			
		</tbody>	
	</table>
<script>
	function big(){
		$('#i1').css({'width':200+'px','z-index':10});
	}
	function smaill(){
		$('#i1').css({'width':100+'px','z-index':1});
	}
</script>
<link href="../../scripts/css/siteDetail.css" rel="stylesheet" type="text/css">
<script src="../shiftJs/international.js" type="text/javascript"></script>
<script src="../../scripts/boot.js" type="text/javascript"></script>