<form id="form3" class="op">
    <table width="100%"> 
        <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Background Info</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181598826"/>
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181645731"/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181718652"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Hiring Manager
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264776828"/>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_534181730034" width="450px"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181747202"/>
                </td>
                <td class="title">
                    of Birth
                </td>
                <td>
                    <input class="mini-datepicker" value="2000-01-01" name="C3_534181767190"/>
                </td>
                <td class="title">
                    Degree
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181900158"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Yrs of Work Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181788780"/>
                </td>
                <td class="title">
                    Yrs of Related Work
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181801459"/>
                </td>
                <td class="title">
                    Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181882521"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="tc" colspan="2">
                    Monthly
                </td>
                <td class="tc" colspan="2">
                    Annual
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181957670" onvaluechanged='vchange'/>
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534339050633" readonly/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Year-end Bonus
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181974758" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Stocks
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181984193" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Allowance
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181995445" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Other
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182003641" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Total Cash
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534182046604" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title tc" colspan="2">
                    Candidate's Expectation
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182182372"/>
                </td>
                <td colspan="2">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="foot">
                    <input type="button" value="Cancel" class="btn btn-warning rf" data-bind="click : cancel">
                    <input type="button" id="fbb" value="Save" class="btn btn-success rf" data-bind="click : ok">
                </td>
            </tr>
        </tfoot>
    </table>
</form>
 