<form id="form7" class="op">
    <table width="100%"> 
        <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Background Info</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093586" readonly/>
                    <!--// onfocus="cpnn()"-->
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187093868" readonly/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094088" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Hiring Manager
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264724518" readonly/>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_534187094286" width="450px" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094490" readonly/>
                </td>
                <td class="title">
                    of Birth
                </td>
                <td>
                    <input class="mini-datepicker" name="C3_534187094747" readonly/>
                </td>
                <td class="title">
                    Degree
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187095637" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Yrs of work Exp
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187094946" readonly/>
                </td>
                <td class="title">
                    Yrs of Related Work
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187095226" readonly/>
                </td>
                <td class="title">
                    Exp
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534187095436" readonly/>
                </td>
            </tr>
             <tr>
                <td class="title">
                    目标部门经理
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534188520203" onfocus="cfnn()"/>
                </td>
                <td class="title">
                    目标经理编号
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534188517500" readonly/>
                </td>
                <td class="title">
                    目标经理工号
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534188545242" readonly/>
                </td>
            </tr>
             <tr>
                <td class="title">
                    录用类型及人名
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_535826470338" readonly width="450px"/>
                </td>
                <td class="title">
                    批准日期
                </td>
                <td>
                    <input class="mini-textbox" name="C3_535826527531" readonly/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="title1 tc" colspan="2">
                    Monthly
                </td>
                <td class="title1 tc" colspan="2">
                    Annual
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999"  name="C3_534187095838" readonly/>
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999"  name="C3_534339050633" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Year-end Bonus
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187096039" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Stocks
                </td>
                <td colspan="2" class="tc">
                    <!--<input class="mini-textbox" name="C3_535110109847"/>-->
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999"  name="C3_534187096253" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Allowance
                </td>
                <td colspan="2" class="tc">
                    <!--<input class="mini-textbox" name="C3_535110132760"/>-->
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187096462" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Other
                </td>
                <td colspan="2" class="tc">
                    <!--<input class="mini-textbox" name="C3_535110147865"/>-->
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187096689" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Total Cash
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187096894" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Candidate's Expectation
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187097099" readonly/>
                </td>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Salary Confirmation</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="title1 tc" colspan="2">
                    Min
                </td>
                <td class="title1 tc" colspan="2">
                    Max
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    Salary
                </td>
                <td colspan="2"  class="tc">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187097705" readonly/>
                </td>
                <td colspan="2"  class="tc">
                    <input class="mini-spinner" minValue="0" maxValue="999999" name="C3_534187097900" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title" colspan="2">
                    RSUs
                </td>
                <td colspan="2" class="tc">
                    <input class="mini-textbox" name="C3_534187098102"/>
                </td>
                <td colspan="2" class="tc">
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Attachments</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <a id="ahref" href="#"><img src="../../img/pdf.jpg" width="60"/></a>
                    <a id="ahref2" href="#"><img src="../../img/word.jpg" width="60"/></a>
                </td>
                <td colspan="2">
                </td>
                <td colspan="2" class="foot">
                    <input type="button" value="Cancel" class="btn btn-warning rf" data-bind="click : cancel">
                    <input type="button" value="Submit" class="btn btn-success rf fbb" data-bind="click : submit">
                </td>
            </tr>
        </tbody>
    </table>
</form>
 