<form id="form1" class="opp">
    <table align="center">
         <!--border='1'cellspacing="0" cellpadding="0"-->
        <thead>
            <tr>
                <th colspan="8">
                    <input type="button" value="New Offer Proposal" class="btn btn-success mtaii fbb" onclick= "newOp()">
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: oList">
            <tr>
                <td colspan="8" class="head">
                    <!--<b>Background Info</b>-->
                    <input type="button" value="Delete" class="btn btn-danger rf" data-bind="click : offerDel.bind()">
                    <input type="button" value="Edit" class="btn btn-warning rf fbb" data-bind="click : offerEdit.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                    <input type="button" value="Preview" class="btn btn-primary rf fbb" data-bind="click : offerView.bind()">
                    <input type="button" value="Submit" class="btn btn-success rf" data-bind="click : offerSubmit.bind(),visible:($data.C3_534184252529==null||$data.C3_534184252529=='N')">
                </td>
            </tr>
            <tr>
                <td class="title" width="12%">
                    Job Title
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181598826"></b>
                </td>
                <td class="title" width="12%">
                    Level
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181645731"></b>
                </td>
                <td class="title" width="12%">
                    Location
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534181718652"></b>
                </td>
                <td class="title" width="12%">
                    Hiring Manager
                </td>
                <td width="13%">
                    <b data-bind="text: C3_534264776828"></b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Department
                </td>
                <td colspan="5">
                    <b data-bind="text: C3_534181730034"></b>
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</form>
 