<form id="form3" class="op">
    <b class="closecp rf" data-bind="click : cancel">×</b>
    <table width="100%"> 
        <!--border='1'cellspacing="0" cellpadding="0"-->
        <tbody>
            <tr>
                <td colspan="6" class="head">
                    <b>Background Info</b>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Job Title
                </td>
                <td>
                    <b class="mini-textbox" name="C3_534181598826"></b>
                </td>
                <td class="title">
                    Level
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181645731"/>
                </td>
                <td class="title">
                    Location
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181718652"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Hiring Manager
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534264776828"/>
                </td>
                <td class="title">
                    Department
                </td>
                <td colspan="3">
                    <input class="mini-textbox" name="C3_534181730034" width="450px"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Candidate
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181747202"/>
                </td>
                <td class="title">
                    of Birth
                </td>
                <td>
                    <input class="mini-datepicker" value="2000-01-01" name="C3_534181767190"/>
                </td>
                <td class="title">
                    Degree
                </td>
                <td>
                    <input class="mini-textbox" name="C3_534181900158"/>
                </td>
            </tr>
            <tr>
                <td class="title">
                    Yrs of Work Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181788780"/>
                </td>
                <td class="title">
                    Yrs of Related Work
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181801459"/>
                </td>
                <td class="title">
                    Exp
                </td>
                <td>
                    <input class="mini-spinner" value="0" minValue="0" maxValue="50" name="C3_534181882521"/>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="head">
                    <b>Current Package</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
                <td class="tc" colspan="2">
                    Monthly
                </td>
                <td class="tc" colspan="2">
                    Annual
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Base Salary
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181957670" onvaluechanged='vchange'/>
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534339050633" readonly/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Year-end Bonus
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181974758" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Stocks
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181984193" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Allowance
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534181995445" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Other
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182003641" onvaluechanged='vchange'/>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="title">
                    Total Cash
                </td>
                <td colspan="2">
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="99999999" name="C3_534182046604" readonly/>
                </td>
            </tr>
            <tr>
                <td class="title tc" colspan="2">
                    Candidate's Expectation
                </td>
                <td class="tc" colspan="2">
                    <input class="mini-spinner" value="0" minValue="0" maxValue="999999" increment="100" name="C3_534182182372"/>
                </td>
                <td colspan="2">
                </td>
            </tr>
        </tbody>
        <!--<tfoot>
             <tr>
                <td colspan="2" width="25%" class="foot eaphead oacitve" onclick="headClick('eap')">
                    <b>Employment & Approval process</b>
                </td>
                <td colspan="2" width="25%" class="foot sshead" onclick="headClick('ss')">
                    <b>Salary structure</b>
                </td>
                <td colspan="2" width="25%" class="foot mdhead" onclick="headClick('md')">
                    <b>Market data</b>
                </td>
                <td colspan="2" width="25%" class="foot dashead" onclick="headClick('das')">
                    <b>Departmental average salary</b>
                </td>
            </tr>
        </tfoot>-->
    </table>
        <!--<div class="datafoot">
        <div class="ss">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="12.5%">
                            Level
                        </th>
                        <th class="title" width="12.5%">
                            Location
                        </th>
                        <th class="title" width="12.5%">
                            下限
                        </th>
                        <th class="title" width="12.5%">
                            中点
                        </th>
                        <th class="title" width="12.5%">
                            上限
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                    </tr>
                </thead>
            </table>
            <div data-bind="foreach: subList2">
                <div>
                    <div><b data-bind="text: C3_534182272208"></b></div>
                    <div><b data-bind="text: C3_534182291688"></b></div>
                    <div><b data-bind="text: C3_534182320476"></b></div>
                    <div><b data-bind="text: C3_534182331126"></b></div>
                    <div><b data-bind="text: C3_534182340241"></b></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="md">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="12.5%">
                            职位
                        </th>
                        <th class="title" width="12.5%">
                            级别
                        </th>
                        <th class="title" width="12.5%">
                            薪资范围
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                    </tr>
                </thead>
            </table>
            <div data-bind="foreach: subList3">
                <div>
                    <div><b data-bind="text: C3_534182661935"></b></div>
                    <div><b data-bind="text: C3_534182668844"></b></div>
                    <div><b data-bind="text: C3_534182682809"></b></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="das">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="25%" colspan="2">
                            Department
                        </th>
                        <th class="title" width="12.5%">
                            级别
                        </th>
                        <th class="title" width="12.5%">
                            人数
                        </th>
                        <th class="title" width="12.5%">
                            平均基本&绩效
                        </th>
                        <th class="title" width="12.5%">
                            平均加班小时
                        </th>
                        <th class="title" width="12.5%">
                            最大基本&绩效
                        </th>
                        <th class="title" width="12.5%">
                            最小基本&绩效
                        </th>
                    </tr>
                </thead>
            </table>
            <div data-bind="foreach: subList4">
                <div>
                    <div class="w25"><b data-bind="text: C3_534182432109"></b></div>
                    <div><b data-bind="text: C3_534182440112"></b></div>
                    <div><b data-bind="text: C3_534182447890"></b></div>
                    <div><b data-bind="text: C3_534182477477"></b></div>
                    <div><b data-bind="text: C3_534182501565"></b></div>
                    <div><b data-bind="text: C3_534182514734"></b></div>
                    <div><b data-bind="text: C3_534182525026"></b></div>
                </div>
            </div>
        </div>
        <div class="eap">
            <table>
                <thead>
                    <tr>
                        <th class="title" width="25%" colspan="2">
                            流程名称
                        </th>
                        <th class="title" width="12.5%">
                            审批节点
                        </th>
                        <th class="title" width="12.5%">
                            审批人
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                        <th class="title" width="12.5%">
                        </th>
                    </tr>
                </thead>
            </table>
            <div data-bind="foreach: subList1">
                <div>
                    <div class="w25"><b data-bind="text: C3_534187327391"></b></div>
                    <div><b data-bind="text: C3_534184045558"></b></div>
                    <div><b data-bind="text: C3_534184046541"></b></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>-->
</form>
 