<form class="cbnn">
    <!--<b class="closecp rf" data-bind="click : cancel">×</b>-->
    <table class="tc" align="center">
        <thead>
            <tr>
                <th colspan="8" class="tr">
                    <input type="button" value="cancel" class="rf" data-bind="click : cancel">
                    <input type="button" value="clear" class="rf" onclick="rePage()">
                    <input type="button" value="filter" class="rf" onclick="search()" id="searchBtn">
                    <input class="rf mini-textbox" id="searchBox" name="searchBox">
                </th>
            </tr>
            <tr>
                <th class="tc">Applicant</th>
                <th class="tc">Job Title</th>
                <th class="tc">Level</th>
                <th class="tc">Location</th>
                <th class="tc">Department</th>
                <th class="tc">Hiring Manager</th>
                <th class="tc">Type</th>
                <th class="tc">Replacement</th>
            </tr>
        </thead>
        <tbody class="ct" data-bind="foreach: recopList">
            <tr data-bind="click : opnm">
                <td data-bind="text: C3_522691671297"></td>
                <td data-bind="text: C3_522691669347"></td>
                <td data-bind="text: C3_589803096733"></td>
                <td data-bind="text: C3_522691669613"></td>
                <td data-bind="text: C3_522691669878"></td>
                <td data-bind="text: C3_522691670096"></td>
                <td data-bind="text: C3_541159579095"></td>
                <td data-bind="text: C3_541159687587"></td>
            </tr>
        </tbody>
    </table>
</form>